/* ---------- Body Elements ----------*/
body{
background-color: #00FFFF;  
margin: auto;
font-family: Times New Roman, Georgia;
line-height:1.4;
background-image: url("../images/pikachu.png");
background-repeat: repeat;
background-position: top right;
background-attachment: fixed;
}

#boxbody{
width: 770px;
height: 2830px;
border: 1px solid #000;
margin: auto;
background-color: #CCFFFF;
box-shadow: 5px 5px 10px #000;
padding: 24px;
border-radius: 15px;
background-image: url("../images/pokemonbanner.jpg");
background-repeat: no-repeat;
background-position: top center;
}

/* ---------- Head Elements ----------*/
header{
text-shadow: 2px 2px  #87C6C6;
text-align: center;
margin: 100px auto;
}


/* ------- Navigation Elements -------*/
nav{
font-weight: 900;
font-style: italic;
border-top: solid #000 3px;
border-bottom: solid #000 3px;
}

/* ------- Section Elements -------*/
section{
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

#floatedsection{
float: right;
width: 31.250em;
margin: 0.000em auto;
padding: 10px;
clear: both;
}

/* ------- Aside Elements -------*/
aside{
font-size: 0.875em;
}

/* ------- Footer Elements -------*/
footer{
font-size: 0.875em;
}

/*------ Anchor Elements -------*/
a{
text-decoration: none;
}
a:link {
color: #FF3300;
}
a:visited{
color: #0000CC;
}
a:hover{
color: #FF00FF;
text-decoration: underline;
}
a:active{
color: #000;
}
li.list1{
display: inline-block;
padding: 2px;
}
#a{
list-style-type: lower-roman;
}
ul{
text-align: center;
}

/* --------- Misc. ID --------- */
#maincharacters{
font-family: Times New Roman, Georgia;
width: 28.5000em;
height: 50px;
padding: 8px;
border: 1px solid #000;
margin: 1.250em;
display: inline-block;
background-color: #D1FFFF;
opacity: 0.8;
box-shadow: 5px 5px 10px #000;
font-size: 0.813em;
background: #efc5ca; 
/* Old browsers */
background: -moz-linear-gradient(top,  #efc5ca 0%, #ba2737 36%, #ba2737 36%, #d24b5a 50%, #ba2737 81%, #f18e99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(36%,#ba2737), color-stop(36%,#ba2737), color-stop(50%,#d24b5a), color-stop(81%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efc5ca 0%,#ba2737 36%,#ba2737 36%,#d24b5a 50%,#ba2737 81%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efc5ca 0%,#ba2737 36%,#ba2737 36%,#d24b5a 50%,#ba2737 81%,#f18e99 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efc5ca 0%,#ba2737 36%,#ba2737 36%,#d24b5a 50%,#ba2737 81%,#f18e99 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efc5ca 0%,#ba2737 36%,#ba2737 36%,#d24b5a 50%,#ba2737 81%,#f18e99 100%); /* W3C */
}
